.message {
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: #0037ff;
    background: #fffb00;
}

.error {
    color: #ff0000;
    background: #d0d0d0;
}

.personParagraph {
    display: inline-block;
    padding-right: 12px;
}